@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --fonte1: 'Darumadrop One', cursive;
    --fonte2: 'Jost', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh; /*100% da view port (tela)*/
    background-color: rgb(180, 180, 180);
    font-family: var(--fonte2);
    font-size: 1.1em;
}

header {
    background-color: rgb(15, 15, 15);
    color: rgb(243, 237, 237);
    text-align: center;
}

header > h1 {
    padding-top: 40px;
    font-family: var(--fonte1);
    font-size: 3.1em;
}

header > p {
    padding: 15px 15px 30px 15px;
    font-size: 18px;
}

a {
    color:rgb(243, 237, 237);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color:rgb(15, 15, 15);
    background-color: rgb(243, 237, 237);
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 35px;
}

section > p {
    padding-bottom: 2em;
}

section.normal > p {
    padding: 20px;
}

section.normal {
    background-color: rgb(243, 237, 237);
    color: rgb(15, 15, 15);
}

section.imagem {
    background-color: rgb(144, 196, 178);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}


section.imagem > p {
    width: 300px;
    background-color: rgb(15, 15, 15);
    color:rgb(243, 237, 237);
    padding: 20px;
}

section#img01 {
    background-image: url(../d012/imagens/background001.jpg);
    
}

section#img02 {
    background-image: url(../d012/imagens/background002.jpg);
}

footer {
    background-color: rgb(15, 15, 15);
    color:rgb(243, 237, 237);
    padding: 20px;
    text-align: center;

}